<div class="index-wrapper">
  <h2>Buy</h2>
  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
    <%= link_to new_item_path do %>
      <div id="add-card">
        <div class="price">
          <h5>Add your Item</h5>
        </div>
      </div>
    <% end %>
  </div>


  <% if @items.any? %>
    <% @paid_item.each do |item| %>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <%= link_to item_path(item) do %>
          <div class="card" id="premium">
            <div class="image-place">
              <div class="default-fit">
                <% if item.photos? %>
                  <% item.photos.each_with_index do |photo,index| %>
                    <%= cl_image_tag photo.path, crop: :fill, class: "image-fit"  if index == 0%>
                  <% end %>
                <% else %>
                   <%= image_tag 'no-photo.png', class: "default-fit" %>
                <% end %>
              </div>
            </div>
            <div class="price">
              <h5><%= item.price%> FT</h5>
            </div>
            <div class="post-content">
             <h3 class="title"><%= item.title %></h3>
              <p><%= item.created_at.strftime("%R ") %>
              <%= item.created_at.strftime(" %b.%d") %></p>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
    <% @items.each do |item| %>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <%= link_to item_path(item) do %>
          <div class="card">
            <div class="image-place">
              <div class="default-fit">
                <% if item.photos? %>
                  <% item.photos.each_with_index do |photo,index| %>
                    <%= cl_image_tag photo.path, crop: :fill, class: "image-fit"  if index == 0%>
                  <% end %>
                <% else %>
                   <%= image_tag 'no-photo.png', class: "default-fit" %>
                <% end %>
              </div>
            </div>
            <div class="price">
              <h5><%= item.price%> FT</h5>
            </div>
            <!-- Post Content-->
            <div class="post-content">
              <h3 class="title"><%= item.title %></h3>
              <p><%= item.created_at.strftime("%R ") %>
              <%= item.created_at.strftime(" %b.%d") %></p>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  <% else %>
    <p>Sorry, we couldn't find any item what meets with your criterias.</p>
  <% end %>
</div>




