<div class="page-wrapper">
  <div class="container">

    <h1 class="text-center">
      Sell your snob item
    </h1>
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-sm-offset-3">
        <%= simple_form_for @item do |f| %>
          <%= f.input :title, :input_html => {:maxlength => 25, :size => 40}, placeholder: "Enter a title" %>
          <%= f.input :description, placeholder: "Enter a description" %>
          <%= f.input :price, placeholder: "Enter a price" %>
          <%= f.input :photos, as: :attachinary %>
          <%= f.button :submit, "Sell this item", class: "btn btn-primary", style: "width: 100%" %>
          <%= f.button :submit, "Sell this as a premium item", class: "btn btn-danger", style: "width: 100%; margin-top: 20px;", formaction: paiditem_path %>
        <% end %>
      </div>
    </div>
  </div>
</div>
