<div class="wrapper">
  <h1>
    <%= @item.title %>
  </h1>
  <div class="profile-link">
    <p>Posted by</p>
    <%= link_to profile_path(@item.user) do %>
    <!-- avatar -->
      <% if @item.user.facebook_picture_url %>
        <div class="avatar-div" style="background-image: url(<%= image_path @item.user.facebook_picture_url.gsub("square", "large")%>)">
        </div>
      <% else %>
        <%= @item.user.first_name %> <%= @item.user.last_name.first %>.
      <% end %>
      <p>See Profile</p>
    <% end %>
</div>

<div class="show-wrapper">
  <% if @item.photos? %>
    <div class="showpage-image">
      <p style="text-align:center;">Click The Image</p>
      <% @item.photos.each_with_index do |photo, index| %>
        <%= link_to cl_image_path(photo.path, crop: :fill), class: "swipebox" do %>
      <!--   Css style for showing image here -->
          <%= cl_image_tag photo.path, crop: :fill, class: "show-image" if index == 0 %>
        <% end %>
      <% end %>
    </div>
  <% else %>
  <h2>NO IMAGE</h2>
  <% end %>
  <div class="description">
    <div class="one-line">
      <%= link_to profile_path(@item.user) do %>
        <%= @item.user.first_name %> <%= @item.user.last_name.first %>.
      <% end %>
      <h3><%= @item.title %></h3>
      <p><%= @item.created_at.strftime("%R ") %><%= @item.created_at.strftime(" %b.%d") %></p>
    </div>
    <p><%= @item.description %></p>
  </div>
</div>

<% if current_user %>
  <% favorite = Favorite.where(item_id: @item.id, user_id: current_user.id).first%>
  <% if favorite %>
    <%= form_tag favorite_path(favorite.id), method: :delete, remote: :true do %>
      <%= button_tag(type: 'submit', class: "bookmark-btn") do %>
        <i class="fa fa-heart heart-red"></i>
      <% end %>
    <% end %>
  <% else %>
    <%= form_tag favorites_path(item_id: @item.id, user_id: current_user.id), method: :post, remote: true do %>
      <%= button_tag(type: 'submit', class: "bookmark-btn") do %>
        <i class="fa fa-heart-o heart-grey"></i>
      <% end %>
    <% end %>
  <% end %>
<% end %>
